.App {
    text-align: center;
}

.nav {
    background-color: lightblue;
    padding: 20px 0px 20px;
    display: flex;
    justify-content: center;
}

#nav-item {
    margin: 0px 5px 0px;
}

.customize {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
}

.h2title, .h1title, .author {
    text-align: center;
}

.infotext {
    text-align: left;
}

.middleTitle {
    text-align: left;
    margin: 50px 0px 20px;
}